/* $font-family: CaskaydiaMono Nerd Font Propo; */
/* $font-family: JetBrainsMono Nerd Font Propo; */
/* $font-family: UbuntuMono Nerd Font Propo; */
$font-family: FiraCode Nerd Font Propo;

/* Nordic */
/*
$fg-color: #eceff4;
$bg-color: #242933;
$bg2-color: #2e3440;
$bg3-color: #3b4252;
$blue: #5e81ac;
$yellow: #ebcb8b;
$green: #a3be8c;
$magenta: #b48ead;
*/

/* Gruvbox Material */
/*
$fg-color: #cdd6f4;
$bg-color: #1d2021;
$bg2-color: #282828;
$bg3-color: #282828;
$blue: #80aa9e;
$yellow: #e9b143;
$green: #b0b846;
$magenta: #d3869b;
*/

/* Catppuccin Mocha */
$fg-color: #cdd6f4;
$bg-color: #1e1e2e;
$bg2-color: #313244;
$bg3-color: #45475a;
$blue: #89b4fa;
$yellow: #f9e2af;
$green: #a6e3a1;
$magenta: #cba6f7;

/* Vague */
/*
$fg-color: #cdcdcd;
$bg-color: hsl(240, 2%, 8%);
$bg2-color: hsl(240, 2%, 12%);
$bg3-color: hsl(240, 2%, 16%);
$blue: #8ba9c1;
$yellow: #f3be7c;
$green: #99b782;
$magenta: #c9b1ca;
*/

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 20px;
}

.blue {
  color: $blue;
}
.green {
  color: $green;
}
.yellow {
  color: $yellow;
}
.magenta {
  color: $magenta;
}
.font-large {
  font-size: 24px;
}

.profile {
  font-size: 48px;
}

calendar {
  background: $bg-color;
  color: $fg-color;

  .today {
    background: $blue;
  }
}

popover {
  background: transparent;
  border-color: transparent;
  margin-left: 20px;

  arrow {
    background: transparent;
    border-color: transparent;
  }
  contents {
    background: $bg2-color;
    border-color: transparent;
    box-shadow: none;
    padding: 8px;
  }
}

scale {
  min-height: 16px;
  border-radius: 16px;

  trough {
    outline: none;
    background-color: $bg3-color;
    border-radius: 24px;
    min-height: 20px;

    slider {
      background-color: $fg-color;
    }

    highlight {
      background-color: $magenta;
      border-radius: 24px 0 0 24px;
    }
  }
}

window.Bar {
  background: transparent;
  color: $fg-color;

  > centerbox {
    background: $bg-color;
    border-radius: 8px;
    opacity: 0.9;
    padding: 16px 16px;
    margin: 10px 0px 10px 10px;
  }

  .battery-box > label {
    margin: 0 6px 0 0;
  }

  .volume-box > label {
    margin: 0 6px 0 0;
  }

  button {
    background: $bg-color;
  }

  box > * {
    margin: 8px 0px;
  }

  .datetime {
    line-height: 1.25;
    text-transform: uppercase;
  }
}
